.post-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.post-card {
  box-sizing: border-box;
  max-width: 20%;
  margin: 15px;
  flex-basis: 30%;
  flex-grow: 1;
}

.post-card .post-text {
  padding: 5px 15px;
  background-color: var(--brown);
  display: block;
}

.post-card img {
  width: 100%;
  display: block;
}