body {
    background-color: violet;
}

h1 {
    color: aquamarine;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 300%;
    padding-left: 60px;
}

p {
    color: purple;
    font-family:'Times New Roman', Times, serif;
    font-size: 200%;
    border: 2px solid salmon;
    padding: 30px;
    margin: 60px;
}

a:link, a:visited {
    color: yellow;
    background-color: rgb(99, 12, 238);
    text-decoration: none;
    padding: 15px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}



a:hover {
    color: red;
    background-color:transparent;
    text-decoration:underline;
}

a:active {
    color: hotpink;
    background-color: transparent;
    text-decoration: double;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    border-color: rebeccapurple
    
}
th, td {
    background-color: blueviolet;
    /* border-radius: 10px; */
    border-style: groove;
    padding: 15px
    
}

th {
    text-align: left;
}
/*
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111111;
}*/